input, a {
    display: block;
}
:required {
    background-color: blue;
}
a [href^="http:"]:after {
    background-color: blue;
}
a [href^="https:"] {
    background-color: red;
}
a [href*="mundo"] {
    background-color: green;
}
a [href$=".com"] {
    background-color: orange;
}
a [href*="futebol"] {
    background-color: rgb(128, 87, 0);
}
a [href*="professores"] {
    background-color: rgb(128, 0, 92);
}